/* Выделение мыши */
::selection {
    background: var(--primary-light);
    color: white;
}

/* Скроллбар */
html {
    scrollbar-gutter: stable;
}
&::-webkit-scrollbar {
    background: transparent;
}
&::-webkit-scrollbar-thumb {
    background-color: var(--primary-main);
    background-clip: content-box;
}
&::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent-purple);
}